<head>
<style>


</style>
<h3>Search Categories</h3>
<%= form_tag search_categories_path do |form|%>
 		<input class='search full-width' id='searchbar' name='query' placeholder='Search Categories' type='string' autocomplete='off'>
		<div class="field">
  		</div>
<% end %>

</head>
<body>
<p id="notice"><%= notice %></p>
<div>
<h1>Categories</h1>

<table class=table-striped width=100%  >

  <thead>
    <tr>
      <th>Name</th>
      <th>Action</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        
        <td><%= link_to 'Show', category %></td>
	<%- if current_user.try(:admin?) %>
		<td><%= link_to 'Edit', edit_category_path(category) %></td>
		<td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<%- if current_user.try(:admin?) %>
<%= link_to 'New Category', new_category_path %>
<% end %>



 

</body>
