<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :donationamount %>
    <%= form.number_field :donationamount %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.collection_select :category, Category.order(:id), :id, :name, include_blank: true %>
  </div>

<%= form.hidden_field :user_id, value: current_user.id %>

  <div class="field">
    <%= form.label :deliverydate %>
    <%= form.datetime_select :deliverydate %>
  </div>

  <div class="field">
    <%= form.label :promise_id %>
    <%= form.number_field :promise_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
