<style>


html, body { height: 100%; padding: 0; margin: 0; }
div { width: 50%; height: 50%; float: left; }
#div1 { background: #0080FF; }
#descriptiondiv { background: #3399FF; }
#specificationsdiv { background: #66B2FF; }
#div4 { background: #99CCFF; }
#style-image {border-right: 1px solid #000;}


</style>


<div id="div1">
<p id="notice"><%= notice %></p>

<p>
  <h1> <strong>Project name:</strong> <%= @project.title %></h1>
</p>


<%- if current_user.try(:id) == @project.user_id  or current_user.try(:admin?) %>
	<%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>
<%= link_to 'Back', projects_path %>
</div>
<div id="descriptiondiv">
	<p>
  		<h2> <strong>Description:</strong> </h2>
		<%= @project.description %>   		
	</p>
</div>
<div id="specificationsdiv">
<p>
  <h2> <strong>Category:</strong> <%= @project.category.name %> </h2>
  
</p>

<p>
  <h2> <strong>User:</strong> <%= @project.user_id %> </h2>   
</p>

<p>
  <h3> <strong>Deliverydate:</strong> <%= @project.deliverydate %> </h3>
  
</p>
<p>
  <strong>Donationamount:</strong>
  <%= @project.donationamount %>
</p>
  <strong>Donation:</strong>
  <%= @Suma %>
</p>

</div>
<div id="div4">
<%= image_tag @project.image.url(:large), :class => "style-image" %>
<%= link_to 'Check Promises', promisesp_path %>
<% if @project.user_id == current_user.try(:id) %>
<%= link_to 'Create a Promises', promisesnew_path %>
<% end %>
<%=form_tag(controller: 'user_fund_projects', action: 'create', method: 'post') do %>
<%= hidden_field_tag :user_id, current_user.try(:id) %> 
<%= hidden_field_tag :project_id, @project.id %>
<%= number_field_tag :amount %>
<%= submit_tag "Donation" %>   
<% end %>
<td><%= button_to "Add project to wishlist", :controller => "wishlists", :action => "create", :user_id => current_user.try(:id), :project_id => @project.id, :method => :"post" %> </td>
</div>



