<p id="notice"><%= notice %></p>

<p>
  <strong>name:</strong>
  <%= @user.name %>
</p>
<p>
<strong>lastname:</strong>
   <%= @user.lastname %>
</p>
<strong>email:</strong>
  <%= @user.email %>
</p>
<strong>telephone:</strong>
  <%= @user.telephone %>
</p>
<strong>description:</strong>
  <%= @user.description %>
</p>
<strong>age:</strong>
  <%= @user.age %>
</p>
<strong>country:</strong>
  <%= @user.country %>
</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Donationamount</th>
      <th>Category</th>
      <th>User</th>
      <th>Deliverydate</th>
      <th>Promise</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
	<% if project.user_id == current_user.id %>
	
	      <tr>
		<td><%= project.title %></td>
		<td><%= project.description %></td>
		<td><%= project.donationamount %></td>
		<td><%= project.category %></td>
		<td><%= project.user_id %></td>
		<td><%= project.deliverydate %></td>
		<td><%= project.promise_id %></td>
		<td><%= link_to 'Show', project %></td>
		<td><%= link_to 'Edit', edit_project_path(project) %></td>
		<td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      </tr>
	<% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
