<style>


html, body { height: 100%; padding: 0; margin: 0; }
div { width: 50%; height: 50%; float: left; }
#divbottom {width: 100%; height: 50%; float: bottom;}
#div1 { width: 30%; background: #0080FF; }
#descriptiondiv { width: 70%; background: #3399FF; }
#specificationsdiv { background: #66B2FF; }
table {
  border-collapse: separate;  
  width: 100%;
}
table td, table th {
	border: 1px solid #ddd;
	
}
table tr:nth-child(even){background-color: #f2f2f2;}

table th {padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #000066;
    color: white;
}

	


</style>

<div id="div1">
<h1> User information </h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.name %>
</p>
<p>
<strong>Last name:</strong>
   <%= @user.lastname %>
</p>
<p>
<strong>eMail:</strong>
  <%= @user.email %>
</p>
<p>
<strong>Telephone:</strong>
  <%= @user.telephone %>
</p>
<p>
<strong>Description:</strong>
  <%= @user.description %>
</p>
<p>
<strong>Age:</strong>
  <%= @user.age %>
</p>
<p>
<strong>Country:</strong>
  <%= @user.country %>
</p>

<%- if current_user.try(:admin) or @user.id == current_user.try(:id) %>
	<%= link_to 'Edit', edit_user_registration_path(@user) %>
<% end %>

<%= link_to 'Back', users_path %>


</div>
<div id="descriptiondiv">

<h3> Funded Projects </h3>
<p id="notice"><%= notice %></p>


<table>
  <thead>
	    <tr>
	      <th>Title</th>
	      
	      <th>Donationamount</th>
	      <th>Category</th>
	      	      
		<th> amount </th>
		<th colspan="3"></th>
	    </tr>
	  </thead>
  <tbody>
    <% @user_fund_projects.each do |user_fund_projects| %>
      <tr>
	<% if user_fund_projects.user_id == current_user.id %>
	<table>
	  

	  <tbody>
	    <% @projects.each do |project| %>
		<% if user_fund_projects.project_id == project.id %>
	      <tr>
		<td><%= project.title %></td>
		
		<td><%= project.donationamount %></td>
		<td><%= project.category.name %></td>
		
		<td><%= user_fund_projects.amount %></td>
		<td><%= link_to 'Show', project %></td>
	      </tr>
	    <% end %>
		<% end %>
	  </tbody>
	</table>
		<% end %>
	      </tr>
    <% end %>
  </tbody>
</table>


	
</div>
<div id="divbottom">
<h2> Projects created by this user: </h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Donation amount</th>
      <th>Category</th>
      <th>User</th>
      <th>Deliverydate</th>
      <th>Promise</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
	<% if project.user_id == @user.id %>
	
	      <tr>
		<td><%= project.title %></td>
		<td><%= project.description %></td>
		<td><%= project.donationamount %></td>
		<td><%= project.category.name %></td>
		<td><%= project.user_id %></td>
		<td><%= project.deliverydate %></td>
		<td><%= project.promise_id %></td>
		<td><%= link_to 'Show', project %></td>
		<%- if project.user_id == current_user.try(:id) or current_user.try(:admin) %>
			<td><%= link_to 'Edit', edit_project_path(project) %></td>
			<td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% end %>
	      </tr>
	<% end %>
    <% end %>
  </tbody>
</table>

</div>










