<p id="notice"><%= notice %></p>

<h1>Wishlists</h1>

<table>
  <thead>
	    <tr>
	      <th>Title</th>
	      <th>Description</th>
	      <th>Donationamount</th>
	      <th>Category</th>
	      <th>Deliverydate</th>
	      <th>Promise</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>
  <tbody>
    <% @wishlists.each do |wishlist| %>
      <tr>
	<% if wishlist.user_id == current_user.id %>
	<table>
	  

	  <tbody>
	    <% @projects.each do |project| %>
		<% if wishlist.project_id == project.id %>
	      <tr>
		<td><%= project.title %></td>
		<td><%= project.description %></td>
		<td><%= project.donationamount %></td>
		<td><%= project.category.name %></td>
		<td><%= project.deliverydate %></td>
		<td><%= project.promise_id %></td>
		<td><%= link_to 'Show', project %></td>
	      </tr>
	    <% end %>
		<% end %>
	  </tbody>
	</table>
		<% end %>
	      </tr>
    <% end %>
  </tbody>
</table>


